body {
    background-color: coral;
}

img {
    border-radius: 50%;
  }

  img {
    border: 10px solid #ddd;
  }
  
  img {
    width: 200px;
    height: 200px;
  }
  h1 {
    font-family: 'Courier New', Courier, monospace;
  }
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    font-size: 20px;
}
ul {
    color: blue;
}
ol {
    color: blueviolet;
}
p {
    margin-left: 50px;
    margin-bottom: 50px;
}
p {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 60px;
  }

  .shell {
    display: grid;
    gap: 10px 10px;
  }
  .shell-one {
    grid-column: 1 / 4;
    grid-row:  1 / 4
  }
  .shell-two {
    grid-column: 1 / 4;
    grid-row: 4 / 8;
  }
  .shell-three {
    grid-column: 4 / 8;
    grid-row:  1 / 4;
  }
  .shell-four {
    grid-column: 4 / 8;
    grid-row:  4 / 8;
  }

  [class*="shell-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
  }
    .shell-one {width: 100%;}
    .shell-two {width: 100%;}
    .shell-three {width: 100%;}
    .shell-four {width: 100%;}
 